@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/bootstrap.min.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/font-awesome.min.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/elegant-icons.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/nice-select.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/jquery-ui.min.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/owl.carousel.min.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/slicknav.min.css") type="text/css">
<link rel="stylesheet" href=@Url.Content("../LayoutIndex/css/style.css") type="text/css">
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-volume-up"></i>Long Chau vaccination center</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="../LayoutIndex/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spain</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                            {
                                <span>Welcome, @HttpContextAccessor.HttpContext.Session.GetString("UserName") |</span>
                                <a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Logout</a>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Register"><i class="fa fa-user"></i> Register |</a>
                                <a asp-controller="Account" asp-action="Login"><i></i> Login</a>
                            }
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a asp-controller="Home" asp-action="Index"><img src="../LayoutIndex/img/longchau.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a asp-action="Index">Home</a></li>
                        <li><a asp-action="Index">Shop</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a asp-action="Index">Shop Details</a></li>
                                <li><a asp-action="Index">Shoping Cart</a></li>
                                <li><a asp-action="Index">Check Out</a></li>
                                <li><a asp-action="Index">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a asp-action="Index">Blog</a></li>
                        <li><a asp-action="Index">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="#"><img src="../LayoutIndex/img/longchau.png" alt="Logo"></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form> 
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </footer>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../LayoutIndex/js/jquery-3.3.1.min.js"></script>
    <script src="../LayoutIndex/js/bootstrap.min.js"></script>
    <script src="../LayoutIndex/js/jquery.nice-select.min.js"></script>
    <script src="../LayoutIndex/js/jquery-ui.min.js"></script>
    <script src="../LayoutIndex/js/jquery.slicknav.js"></script>
    <script src="../LayoutIndex/js/mixitup.min.js"></script>
    <script src="../LayoutIndex/js/owl.carousel.min.js"></script>
    <script src="../LayoutIndex/js/main.js"></script>
</header>
